@font-face {
  font-family: 'Open_Sans';
  src: url('../fonts/Open_Sans.eot');
  src: url('../fonts/Open_Sans.eot') format('embedded-opentype'),
  url('../fonts/Open_Sans.woff2') format('woff2'),
  url('../fonts/Open_Sans.woff') format('woff'),
  url('../fonts/Open_Sans.ttf') format('truetype'),
  url('../fonts/Open_Sans.svg#Open_Sans') format('svg');
}

.body {
  font-family: var(--open-sans);
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/***********COLORS*************/
.text-danger {
  color: #ff3d42;
}

.text-danger-light {
  color: #ef4d41;
}

.text-dark {
  color: #102c3a;

}

.text-button {
  color: #193a4a;
}

.text-muted {
  color: #c0c0c0;
}

/************************/

:root {
  --white-color: #fff;
  --main-dark-color: #102c3a;
  --gray-color: #c0c0c0;
  --button-color: #193a4a;
  --open-sans: 'Open_Sans';

}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.header_content {
  background-image: url("../images/header_image.png");
  background-size: cover;
  background-position: center;
  padding: 30px 65px 0 30px;
  .header_controls {

  }
  .header_text_info {
    h1 {
      font-size: 60px;
      letter-spacing: 2px;
    }
    h4 {
      font-size: 30px;
      letter-spacing: 2px;
    }

    h6 {
      font-size: 25px;
    }
    h5 {
      max-width: 700px;

      font-size: 30px;
      letter-spacing: 2px;
      padding-bottom: 100px;

    }

  }
}

/*.how_we_work {
  padding-top: 100px;
  .section_title {
    h2 {
      font-size: 50px;

    }
    p {
      max-width: 550px;
      font-size: 20px;
    }
  }
  .plane_progress {

  }
  .how_we_work_description {
    max-width: 300px;
    margin: auto;

  }
}
*/
.wireframing {
  background-image: url("../images/section_bg.png");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  .frame_im {
    padding: 25px;
    &:nth-of-type(2) {
      &:after {
        content: url("../images/arrow_down_40.png");
        clear: both;
        position: absolute;
        bottom: -15%;
        left: 35%;
        @include max-screen(991px) {
          bottom: -20%;
        }

        @include max-screen(767px) {
          content: url("../images/arrow_left_50.png");
          clear: both;
          position: absolute;
          transform: rotate(180deg);
          bottom: 40%;
          right: -1%;

        }
      }
    }
    &:nth-of-type(3) {
      &:after {
        content: url("../images/arrow_down_40.png");
        clear: both;
        position: absolute;
        bottom: -15%;
        left: 35%;
        @include max-screen(991px) {
          bottom: -20%;
        }
        @include max-screen(767px) {
          bottom: -22%;
          left:40%
        }
      }

    }
    &:nth-of-type(4) {
      &:after {
        content: url("../images/arrow_left_100.png");
        clear: both;
        position: absolute;
        top: 40%;
        left: -95px;
        @include max-screen(1200px) {
          left: -85px;

        }
        @include max-screen(991px) {
          content: url("../images/arrow_left_50.png");
          left: -50px;
        }
        @include max-screen(767px) {
          content: url("../images/arrow_down_40.png");
          top: 83%;
          left: 40%;
        }
      }
    }
    &:nth-of-type(5) {
      &:after {
        content: url("../images/arrow_left_100.png");
        clear: both;
        position: absolute;
        top: 40%;
        left: -95px;
        @include max-screen(1200px) {
          left: -85px;

        }
        @include max-screen(991px) {
          content: url("../images/arrow_left_50.png");
          left: -50px;
        }

      }
    }
    &:nth-of-type(6) {

    }
    &:nth-of-type(7) {
      &:after {
        content: url("../images/arrow_left_100.png");
        transform: rotate(180deg);
        clear: both;
        position: absolute;
        top: 40%;
        left: -95px;
        @include max-screen(1200px) {
          left: -85px;

        }
        @include max-screen(991px) {
          content: url("../images/arrow_left_50.png");
          left: -50px;
        }
        @include max-screen(767px) {
          transform: rotate(180deg);
        }
      }
    }
    &:nth-of-type(8) {
      &:after {
        content: url("../images/arrow_left_100.png");
        transform: rotate(180deg);
        clear: both;
        position: absolute;
        top: 40%;
        left: -95px;
        @include max-screen(1200px) {
          left: -85px;

        }
        @include max-screen(991px) {
          content: url("../images/arrow_left_50.png");
          left: -50px;
        }
        @include max-screen(767px) {
          content: url("../images/arrow_down_40.png");
          transform: rotate(0deg);
          top: -17%;
          left: 40%;
        }
      }
    }

  }
}

.flights_tickets {
  margin-top: 100px;

  .search_info {
    padding-bottom: 30px;
  }
  .ticket_block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .flights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
    @include max-screen(1200px) {
      padding-bottom: 25px;
    }

  }
  .flight_description {
    padding-left: 45px;

    @include max-screen(992px) {
      padding-left: 0px;
    }

  }
}

.footer_nav {

  display: flex;
  justify-content: space-between;
  padding: 30px 65px 30px 30px;

}

.button {
  &:nth-of-type(2) {
    img {
      transform: rotate(180deg);
    }
    span {
      padding-left: 0;
      padding-right: 10px;
    }
  }

  a {
    text-decoration: none;

  }

  span {

    padding-left: 10px;
    text-transform: uppercase;
    font-size: 17px;

  }
}

/****************************/
.how_we_work {
  padding-top: 100px;
  margin-bottom: 100px;

  .section_title {
    h2 {
      font-size: 50px;

    }
    p {
      max-width: 550px;
      font-size: 20px;
      padding-bottom: 50px;
    }
  }

  @include max-screen(768px) {
    &:before {
      top: -10px;
    }
  }
  .how_we_work_description {

    @include max-screen(768px) {
      margin-top: 20px;

    }
    @include max-screen(463px) {
      margin-top: 45px;

    }

    &:nth-child(1) {
      &:before {
        content: url("../images/how_we_work_plane.png");
        clear: both;
        position: absolute;
        top: -50px;
        left: 40%;

      }
      &:after {
        content: url("../images/how_we_work_line.png");
        clear: both;
        position: absolute;
        top: -43px;
        left: 65%;

      }
    }

    &:before {
      content: url("../images/how_we_work_circle.png");
      clear: both;
      position: absolute;
      top: -40px;
      left: 47%;
      @include max-screen(768px) {
        top: -15px;

      }

    }
    &:after {
      content: url("../images/how_we_work_line.png");
      clear: both;
      position: absolute;
      top: -43px;
      left: 65%;
      @include max-screen(768px) {
        display: none;
      }

    }
    &:nth-child(4) {
      &:after {
        content: "";
        clear: both;
      }

    }
  }
  .how_we_work_title {
    @include max-screen(465px) {
      font-size: 17px;

    }
  }
  .how_we_work_text {
    @include max-screen(768px) {
      margin-top: 50px;
      &:nth-of-type(1) {
        margin-top: 40px;
      }
    }
    @include max-screen(430px) {
      margin-top: 30px;

    }
  }

}