@font-face {
  font-family: 'Open_Sans';
  src: url('../fonts/Open_Sans.eot');
  src: url('../fonts/Open_Sans.eot') format('embedded-opentype'),
  url('../fonts/Open_Sans.woff2') format('woff2'),
  url('../fonts/Open_Sans.woff') format('woff'),
  url('../fonts/Open_Sans.ttf') format('truetype'),
  url('../fonts/Open_Sans.svg#Open_Sans') format('svg');
}

.body {
  font-family: var(--open-sans);
}

/***********COLORS*************/
.text-danger {
  color: #ff3d42;
}

.text-danger-light {
  color: #ef4d41;
}

.text-dark {
  color: #102c3a;
}

.text-muted {
  color: #c0c0c0;
}

/************************/

:root {
  --white-color: #fff;
  --main-dark-color: #102c3a;
  --gray-color: #c0c0c0;
  --open-sans: 'Open_Sans';

}

.header_content {
  background-image: url("../images/header_image.png");
  background-size: cover;
  background-position: center;
  padding: 30px 65px 0 30px;
  .header_controls {

  }
  .header_text_info {
    h1 {
      font-size: 60px;
      letter-spacing: 2px;
    }
    h4 {
      font-size: 30px;
      letter-spacing: 2px;
    }

    h6 {
      font-size: 25px;
    }
    h5 {
      max-width: 700px;

      font-size: 30px;
      letter-spacing: 2px;
      padding-bottom: 100px;

    }

  }
}

.how_we_work {
  padding-top: 100px;
  .section_title {
    h2 {
      font-size: 50px;

    }
    p {
      max-width: 550px;
      font-size: 20px;
    }
  }
  .plane_progress {

  }
  .how_we_work_description {
    max-width: 300px;
    margin: auto;

  }
}

.wireframing {

  background-image: url("../images/section_bg.png");
  background-position: center;
  background-size: cover;
  
}

.flights_tickets {
  margin-top: 100px;

  .flights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;

  }
  .flight_description {
    padding-left: 45px;

  }
}